header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    z-index: 100;
    align-items: center;
    
}
body
    {
background: url(background.jpeg);
width: 30%;
height: 100%;
background-position:;
background-size: cover;
background-repeat: no-repeat;
}
.logo {
    font-size: 5em;
    color: #555;
    cursor: default;
}
.span {
    color: #FF8000;
}
.navigation{
    margin-left: -300px;

}
.navigation a {
    font-size: 1.1rem;
    color: #555;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}
.navigation a:hover {
    color: #FF8000;
}
.btn-talk{
    color: white;
    border: #FF8000 6px solid;
    border-radius: 10px;
    padding: 10px 33px;
    text-decoration: none;
    background:#FF8000;
    font-weight: 400;
    font-size: larger;
}
.btn-talk:hover {
    color: #0a0a0a;
    background-color: #ff6106;

}
.home{
position: relative;
width: 100%;
padding: 300px 300px ;
align-items: center;
width: 100%;
font
}
h1{
    font-size: 60px;
}
h4{
    font-size: 40px;
}
p{
    font-size: 30px;
}
.btn-group{
    margin: 0px 0px 0px 60px;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.btn-group a{
    text-decoration: none;
align-items: center;
    justify-content: space-between;
        color: #fff;
        text-decoration: none;
        padding: 10px 40px;
        background: #FF8000;
        border-radius: 10px;
        border: 2px solid #FF8000;
        font-weight: 500;
        transition: .3s;
    }
.btn-group a:hover{
    color: #000;
    background-color: #ff6106;
}
.social-icons {
    position: absolute;
    bottom: 200px;
    left: 440px;
}
.social-icons a {
    color: #d15727;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    transition: .3s;
}